/* General */
body {
	font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}
a:hover {
	text-decoration: none;
	opacity: 0.5; 
}

.module-separator {
	margin-top: 45px;
}

/* Top Navbar */
.top-navbar-wrapper {
	padding: 0px;
}
.top-navbar-wrapper .top-navbar-border-black {
	height: 15px;
	background-color: #000000;
	width: 100%;
	display: table;
}
.top-navbar-wrapper .top-navbar-border-white {
	height: 15px;
	background-color: #ffffff;
	width: 100%;
	display: table;
}

/* Header */
.header-container {

}

.logo-holder {
	width: 80px;
    margin-top: 0px;
}

/* Main Navbar */
.navbar-nav {}
.navbar-nav .nav-item {}
.navbar-nav .nav-item.active a{
	color: #888888;
}
.navbar-nav .nav-item a {
	color: #fff;
	text-transform: uppercase;

}

/* Hero Image Slide*/
.background-container {
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	z-index: -1;
}
.black-shade-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	height: 100%;
}
.background-container img {
	width: 100%;
}

/* Hero Note Container*/
.hero-main-note-container {
	color: #ffffff;
    padding-top: 3%;
}

.hero-slide-category {
	border-bottom: 3px solid #888888;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #888888;
}
.hero-slide-title {
	text-transform: uppercase;
}

.hero-sidenotes-container {
	text-transform: uppercase;
	text-align: right;
	list-style: none;
	border-right: 1px solid;
	padding-right: 0px;
}
.hero-note-sidenote-singular {
    padding-right: 20px;
    padding-bottom: 30px;
}
/*.hero-note-sidenote-singular::after {
		content: ".";
		position: relative;
		right: -27px;
		font-size: 60px;
		top: -100px;
		display: table;
		float: right;
}*/
.hero-note-sidenote-singular h3 {
		font-size: 1.15rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1.05rem;
}

/* Mainbody and Modules */
.main-body-container {
	background-color: #ffffff;
	margin-top: 15%;
}

/* Match Modules */
.next-match-boxes-container {
	margin-bottom: 15%;
}
.next-match-module {
    margin-top: -10%;
}
.next-match-module-wrapper {
	width: 100%;
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;

}
.module-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15rem;
	font-weight: bold;
}
.match-square {}
.team-square {
	width: 65px;
	display: table;
	margin: 0 auto;
}
.team-square .team-1 {
	float: left;
}
.team-square .team-2 {
	float: right;
}
.match-vs {
    text-align: center;
    color: #888888;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-top: 30px;
}
.match-date {
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.95rem;
	font-style: italic;
	float: left;
}

.statics-box {
	text-align: center;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.25rem;
    padding: 5px;
}

/* Fixture Module */
.fixture-module-container {
	border: 2px solid #000000;
	text-transform: uppercase;
	font-size: 0.85rem;
	padding: 0;
	background-color: #000000;
    background-image: url(../../assets/img/leagues/rfef.svg);
	background-size: 120px;
	background-repeat: no-repeat;
	background-position-x: right;
}
.main-title-fixture {
	margin-bottom: 0;
}
.main-title-fixture thead tr th {
	color: #ffffff;
	border: none;
}
.main-title-fixture thead tr th small {
	font-weight: bold;
}
.main-table-title-fixture {
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
    margin-bottom: 0;
}
.main-table-title-fixture thead tr th {
    border-top: none;
    border-bottom: none;
}
.main-body-fixture {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}
.main-body-fixture tr {
    font-size: 0.75rem;
    line-height: 2px;
}
.main-body-fixture tr td {
	border: none;
}
.main-body-fixture tr:nth-child(odd) {
	background-color: #ffffff;	
}
.main-body-fixture tr:nth-child(even) {
	background-color: #cccccc;	
}
.main-body-fixture tr:nth-child(1), .main-body-fixture tr:nth-child(3) {
	background-color: #aec7b2;	
}
.main-body-fixture tr:nth-child(2), .main-body-fixture tr:nth-child(4) {
	background-color: #cde6d1;	
}
.main-body-fixture tr:nth-child(17), .main-body-fixture tr:nth-child(19) {
	background-color: #d6a3a3;	
}
.main-body-fixture tr:nth-child(18), .main-body-fixture tr:nth-child(20) {
	background-color: #f5c2c2;	
}
.main-body-fixture tr:nth-child(16) {
	background-color: #f5dbe4;	
}
.main-body-fixture tr.burgos-club-selector {
	background-color: #000000;
	color: #ffffff;
}

/* Note Display */
.note-display-wrapper {
	margin-top: 35px;
}
.note-display-wrapper.not-separated {
	margin-top: 0px;
}
.note-display-category-wrapper {}
.note-display-category-wrapper .note-display-category {
	color: #888888;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    border-bottom: 3px solid #888888;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.note-display-image-wrapper {}
.note-display-image-wrapper .note-display-image {
	width: 100%;
	float: left;
}
.note-display-image-wrapper .readmore-button {
	float: right;
	margin-top: -55px;
	margin-right: 10px;
}
.note-display-title-wrapper {}
.note-display-title-wrapper .note-display-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.95rem;
	margin-top: 10px;
}

/* ADS */
.img-ads-display {
	width: 100%;
}

/* Footer */
.container-fluid.main-footer-container {
	padding: 0px;
	background-color: #1a1a1a;
}
.container-fluid.main-footer-container .main-footer-design-white {
	width: 100%;
	background-color: #ffffff;
	height: 150px;
}

.container-fluid.main-footer-container .main-footer-design-grass {
	background-image: url(../../assets/img/assets/grunge.png);
	background-color: #ffffff;
	height: 130px;
	background-position-y: -155px;
	background-repeat: repeat-x;
	background-size: 450px;
}		

.container-fluid.main-footer-container.dark-bg {
	background-color: #1a1a1a;
}

.container-fluid.main-footer-container .main-footer-body {

}

.container-fluid.main-footer-container .main-footer-design-line {
	width: 100%;
    background-color: #000000;
    height: 30px;
    border-bottom: 10px solid #ffffff;
}

.footer-module-wrapper {

}
.footer-module-wrapper .footer-module-title {
	font-weight: bold;
	color: #ffffff;
	font-size: 1.3rem;
	text-align: center;
}
.footer-module-wrapper .footer-module-desc {
	color: #ffffff;
	margin-top: 25px;
	text-align: center;
	font-style: italic;
	font-size: 0.95rem;
	letter-spacing: 1px;
}

.footer-module-logo-container {
	
}
.footer-module-logo-container img {
	width: 120px;
	display: table;
	margin: 0 auto;
}

.container.footer-copy-container {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.650rem;
    font-weight: 100;
    letter-spacing: 0.08rem;
    line-height: 0.40rem;
}

.footer-menu-container {
	padding: 30px 0;
}
.footer-menu-container .footer-menu-wrapper {
	list-style: none;
	padding: 0;
	width: auto;
	margin: 0px auto;
	display: table;
}
.footer-menu-container .footer-menu-wrapper .footer-menu-element {
	color: #ffffff;
    float: left;
    margin: 0px 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
}

.footer-menu-container .footer-menu-wrapper .footer-menu-element a {
	color: #ffffff;
}

.container.footer-copy-container .copy-txt {
	font-weight: 400;
}
.container.footer-copy-container .legal-txt {

}
.container.footer-copy-container .legal-txt a {
	color: #cccccc;		
}

/* Note Display Section */
.note-display-inside {
	margin-top: -30%;
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
}

.note-display-author {
	margin-top: 35px;
	margin-bottom: 35px;
}
.note-display-author .note-display-author-text {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;

}
.note-display-author .note-display-author-text .author-name {
	font-weight: bold;
	color: #888888;
}

.note-display-bodytext {
    font-size: 1.25rem;
    font-weight: 500;
}

.note-display-last-news-module-wrapper {
	padding: 0 35px;
}

.note-display-last-news-module {
    padding: 0;
}
.note-display-last-news-text {
    color: #888888;
    font-weight: bold;
    border-bottom: 3px solid #888888;
    padding-bottom: 10px;
}

.note-list-item-display-body-wrapper {
}
.note-list-item-display-body-wrapper .note-display-title {
	font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.note-list-item-display-body-wrapper .note-display-author {}
.note-list-item-display-body-wrapper .note-display-content {
    margin-bottom: 0;
}
.note-list-item-display-body-wrapper .readmore-button {}

/* Profile Display */
.player-phrase-wrapper {
	padding: 50% 0;
}

.profile-display-field-wrapper {}
.profile-display-field-wrapper .profile-display-field-image {}
.profile-display-field-player {
    position: absolute;
}
.profile-display-field-player i {
	font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.profile-display-field-player.soccer-player-position {}
.profile-display-field-player.soccer-player-position.portero {
	right: 48%;
    bottom: 6%;
}
.profile-display-field-player.soccer-player-position.defensa {}
.profile-display-field-player.soccer-player-position.centro {}
.profile-display-field-player.soccer-player-position.delantero {}
.profile-display-field-player.soccer-player-position.tecnico {}

.profile-display-tables-wrapper {
	margin-top: 35px;
}
.profile-display-stats-title {
    margin-bottom: 25px;
}
.profile-display-stats-title .profile-display-stats-title-txt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.55rem;
}
.profile-display-tables-container {
	border: 5px solid #000;
    height: 400px;
    float: left;
    display: table;
}
.profile-display-tables-container tbody {}
.profile-display-tables-container tbody tr {}
.profile-display-tables-container tbody tr td {}
.profile-display-tables-container tbody tr td i {}

/* Buttons and Links */
.readmore-button {
	background-color: #888888;
	color: #ffffff;
	font-size: 18px;
	font-style: italic;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 3%;
	float: left;
}

.readmore-button:hover {
	opacity: 1; 
	background-color: #32ab3f;
	color: #ffffff;
}

.dropdown-menu .dropdown-item{
	color: #000000!important;
}

/* Social Share Buttons */
.display-social-share-box {
	margin-top: 35px;
}
.display-social-share-box .social-share-list-container {
	list-style: none;
	padding: 0;
	width: 100%;
	float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container i {
	font-size: 2rem;
}

/* Store */
.prod-list-name {
	font-weight: bold;
    border-left: 5px solid #888888;
    padding-left: 15px;
}
.product-display.note-display-wrapper {}
.product-display.note-display-wrapper .note-display-category-wrapper {}
.product-display.note-display-wrapper .note-display-category-wrapper .note-display-category {}
.product-display.note-display-wrapper .note-display-category-wrapper .note-display-category a {
	color: #888888;
}

.product-display .note-display-image-wrapper {
    width: 100%;
}
.product-display .note-display-image-wrapper img {
    width: 100%;
    height: auto;
}
.product-display .note-display-image-wrapper .sale-label {
    position: absolute;
    right: 1%;
    top: 5%;
    background-color: #888888;
    color: #ffffff;
    font-style: italic;
    padding: 5px 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.product-display .note-display-image-wrapper .attachment-woocommerce_thumbnail {
	width: 100%;
    height: auto;
}

.product-display .note-display-title-wrapper {}
.product-display .note-display-title-wrapper .note-display-title {
	font-size: 1.55rem;
	color: #464646;
}

.product-display .sale-price {
	color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #000;
    padding: 5px 11px;
    font-style: italic;
}
.product-display .discounted-price {
	color: #929292;
	font-weight: 500;
	padding: 5px 11px;
	font-style: italic;
	text-decoration: line-through;
}
.product-display .separator-price {
	width: auto;
	margin: 0 5px 0 20px;
	font-weight: bold;
}

/* Singular Product */
.product-categories-wrapper {
	font-size: 1.3rem;
}
.product-categories-wrapper .product_meta {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product-categories-wrapper .product_meta .posted_in a {
	color: #888888;
}

.product-basic-information-wrapper {

}
.product-basic-information-wrapper .product-image-wrapper {

}
.product-basic-information-wrapper .product-image-wrapper .onsale {
	position: absolute;
	right: 1%;
	top: 5%;
	background-color: #888888;
	color: #ffffff;
	font-style: italic;
	padding: 5px 15px;
	cursor: pointer;
	text-transform: uppercase;
}
.woocommerce-product-gallery {}
.woocommerce-product-gallery img {
	width: 100%;
    height: auto;
}
.product_title.entry-title {
    font-size: 2rem;
    color: #464646;
    font-weight: bold;
    width: 100%;
}
.product-stats-wrapper .price {
    width: 100%;
    height: 35px;
}
del .woocommerce-Price-amount.amount {
    color: #929292;
    font-weight: 500;
    padding: 5px 11px;
    font-style: italic;
    text-decoration: line-through;
}
ins .woocommerce-Price-amount.amount {
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: #000;
	padding: 5px 11px;
	font-style: italic;
}
.woocommerce-product-details__short-description {
	width: 100%;
}
.cart-discounted-price {
	font-size: 0.8rem;
    text-decoration: line-through;
    font-weight: bold;
}
.product-stats-wrapper .cart {
	float: left;
    width: 100%;
}
.product-stats-wrapper .cart .quantity {
	width: 40%;
	float: left;
}
.product-stats-wrapper .cart .quantity .input-text {
	width: 100%;
	height: 44px;
	text-align: center;
}
.product-stats-wrapper .cart .single_add_to_cart_button {
	width: 60%;
    float: left;
    background-color: #000;
    color: #ffffff;
    font-style: italic;
    padding: 10px 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

/* Social Share Buttons */
.display-social-share-box {
	margin-top: 35px;
}
.display-social-share-box .social-share-list-container {
	list-style: none;
	padding: 0;
	width: 100%;
	float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container i {
	font-size: 2rem;
}

.display-social-share-box.footer-social {
	margin-top: 35px;
}
.display-social-share-box.footer-social .social-share-list-container {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: table;
    width: auto;
    float: inherit;
}
.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}

.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container a {
    color: #ffffff;
    font-size: 2rem;
}
.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container a i {
	font-size: 2rem;
}


/* Variation */
.variations_form.cart .variations {
    float: left;
    width: 100%;
}
.variations_form.cart .variations tr {
    float: left;
    width: 100%;
}
.variations_form.cart .variations tr td.label{
	float: left;
	font-weight: bold;
	margin-right: 10px;
	width: 50px;
}
.variations_form.cart .variations tr td.value{

}
.variations_form.cart .variations tr td.value select{
	border: 2px solid #000000;
	margin-top: -1px;
	font-weight: bold;
	width: 100%;
	color: #ffffff;
	background-color: #000000;
}
.product-tabs-wrapper {
    margin-top: 5vh;
}
.reset_variations {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: gray;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.product-tabs-wrapper {}
.product-tabs-wrapper .wc-tabs-wrapper {}
.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs {
	padding: 0;
	list-style-type: none;
	width: 100%;
	float: left;
    border-bottom: 3px solid #000000;
}
.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li {
	float: left;
	padding: 5px 10px;
	background-color: #888888;
	margin-right: 5px;
}
.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li a {
    color: #000000;
    font-style: italic;
    cursor: pointer;
    text-transform: uppercase;
}
.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li.active {
	background-color: #000000;
}
.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li.active a {
    color: #ffffff;
}

.woocommerce-Tabs-panel {}
.woocommerce-Tabs-panel h2:first-child {
	font-weight: bold;
	border-left: 5px solid #888888;
	padding-left: 15px;
	float: left;
	width: 100%;
	margin: 5px 0px 20px 0px;
}

#tab-description {}
#tab-description p {
	width: 100%;
	float: left;
}
#tab-description p img {
	width: 100%;
}
#tab-description h4 {
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0;
    text-align: left;
    margin: 5px 0px 10px 0px;
}
#tab-description h5 {
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0;
    text-align: left;
    margin: 5px 0px 10px 0px;
}

.lista_detalles {
	width: 100%;
    float: left;
    list-style-type: none;
    padding-left: 10px;
}
.related.products {}
.related.products .products {
	list-style-type: none;
	padding: 0;
}
.product-listing-item {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}
.product-listing-item .note-display-category-wrapper {
	float: left;
    width: 100%;
    margin-bottom: 5px;
}
.product-listing-item .note-display-category-wrapper .rating_module {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.product-listing-item .note-display-category-wrapper .note-display-category {
	float: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: normal;
}
.product-listing-item .note-display-category-wrapper .note-display-category a {
	color: #888888;
}

.product-listing-item .note-display-image-wrapper {
	float: left;
    width: 100%;
}
.product-listing-item .note-display-image-wrapper img {
    float: left;
    width: 100%;
    height: auto;
}
.product-listing-item .note-display-image-wrapper .sale-label {
	position: absolute;
	right: 1%;
	top: 5%;
	background-color: #888888;
	color: #ffffff;
	font-style: italic;
	padding: 5px 15px;
	cursor: pointer;
	text-transform: uppercase;
}

.product-listing-item .note-display-title-wrapper {
    float: left;
    width: 100%;
    color: #464646;
    margin-top: 7px;
}
.product-listing-item .note-display-title-wrapper .note-display-title {
    font-size: 1.4rem;
    height: 55px;
}
.product-listing-item .note-display-price-wrapper {}
.product-listing-item .note-display-price-wrapper .sale-price {
	color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #000;
    padding: 5px 11px;
    font-style: italic;
}
.product-listing-item .note-display-price-wrapper .discounted-price {
	color: #929292;
	font-weight: 500;
	padding: 5px 11px;
	font-style: italic;
	text-decoration: line-through;
}
.product-listing-item .note-display-price-wrapper .separator-price {
	width: auto;
	margin: 0 5px 0 20px;
	font-weight: bold;
}

.product-listing-item .add_to_cart_wrapper {
    margin-top: 15px;
}

.product-listing-item .add_to_cart_wrapper a {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
	padding: 5px 15px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.comment-form-rating {}
.comment-form-rating .stars {
	float: left;
	width: 100%;
}
.comment-form-rating .stars a {
	width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff;
    float: left;
    text-align: center;
    padding: 5px 0px;
    margin-right: 10px;
    border-radius: 25px;
    vertical-align: middle;
}

.comment-form-comment {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.comment-form-comment label {
	width: 100%;
	float: left;
}
.comment-form-comment textarea {
	width: 100%;
	border: 1px solid #888888;
}
.comment-form .form-submit {
	margin-bottom: 10px;
	float: left;
}
.comment-form .form-submit .submit {
    float: left;
    background-color: #000;
    color: #ffffff;
    font-style: italic;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.site-main {}
.site-main .woocommerce-breadcrumb {
    padding: 0 15px;
}
.site-main .woocommerce-breadcrumb a {
	color: #888888;
}
.site-main .woocommerce-notices-wrapper {
    padding: 0 15px;
}
.site-main .woocommerce-result-count {
    padding: 0 15px;
}
.site-main .woocommerce-ordering {
    padding: 0 15px;
}
.site-main .woocommerce-ordering .orderby {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
	padding: 10px 10px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.site-main .related.products {

}

/* Regular Style for Cart */

.module-headline {}
.module-headline h2 {
    font-weight: bold;
    border-left: 4px solid #888888;
    padding-left: 5px;
    font-size: 1.5rem;
}
.module-date-stat {
	font-style: italic;
	margin-bottom: 5px;
	text-decoration: underline;
	font-size: 0.85rem;
}
.note-display-wrapper .woocommerce {

}
.note-display-wrapper .module-content .woocommerce {}
.note-display-wrapper .module-content .woocommerce button {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
}
.note-display-wrapper .module-content .woocommerce .input-text {
	width: auto!important;
	height: 35px;
	padding: 0px 10px;
}
.note-display-wrapper .module-content .woocommerce a {
	color: #888888;
}
.woocommerce table.shop_table {
    border-radius: 0;
}
.wc-proceed-to-checkout {}
.wc-proceed-to-checkout a {
    background-color: #000!important;
    color: #ffffff!important;
    font-style: italic;
    padding: 10px 15px!important;
    cursor: pointer!important;
    text-transform: uppercase;
    border: none!important;
    width: 100%;
    text-align: center;
}

.woocommerce-billing-fields {

}
.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields, .woocommerce-additional-fields  {
	width: 100%!important;
	float: left!important;
}
.woocommerce-billing-fields .form-row label, .woocommerce-shipping-fields label, .woocommerce-additional-fields  label {
	width: 100%!important;
	float: left!important;
}
.woocommerce-billing-fields .form-row .woocommerce-input-wrapper {
	width: 100%!important;
	float: left!important;
}
.woocommerce-billing-fields .form-row .input-text {
    min-width: 100%;
}
.woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-additional-fields h3{
    font-weight: bold;
    border-left: 4px solid #888888;
    padding-left: 5px;
    font-size: 1.5rem;
}
.woocommerce-input-wrapper {
	min-width: 100%;
}
.woocommerce-input-wrapper textarea {
    min-width: 100%;
    min-height: 150px;
}
#order_review_heading {
	margin-top: 15px;
	font-weight: bold;
	border-left: 4px solid #888888;
	padding-left: 5px;
	font-size: 1.5rem;
}
.place-order .button {
	background-color: #000!important;
	color: #ffffff!important;
	font-style: italic;
	padding: 10px 15px!important;
	cursor: pointer!important;
	text-transform: uppercase;
	border: none!important;
	width: 100%;
	text-align: center;
}
.woocommerce-MyAccount-navigation {
	
}
.woocommerce-MyAccount-navigation ul {
	padding: 0;
    list-style-type: none;
    width: 100%;
    float: left;
    border-bottom: 3px solid #000000;
}
.woocommerce-MyAccount-navigation ul li {
    float: left;
    padding: 5px 10px;
    background-color: #888888;
    margin-right: 5px;	
}
.woocommerce-MyAccount-navigation ul li.is-active {
	background-color: #000000;
}
.woocommerce-MyAccount-navigation ul li a {
	color: #000000!important;
}
.woocommerce-MyAccount-navigation ul li.is-active a {
	color: #ffffff!important;
}
.woocommerce-Address {

}
.woocommerce-MyAccount-content {
	float: left;
	width: 100%;
}
.woocommerce-Address .edit {
	float: left;
	background-color: #000;
	color: #ffffff!important;
	font-style: italic;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
}
.woocommerce-Address address {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.woocommerce-address-fields {}
.woocommerce-address-fields .form-row {
	width: 100%!important;
    float: left;
}
.woocommerce-address-fields .form-row label {
	width: 100%;
	float: left;
}
.woocommerce-address-fields .form-row span {
	width: 100%;
	float: left;
}
.woocommerce-address-fields .form-row span input {
	width: 100%;
	min-width: 100%;
}
.woocommerce-MyAccount-content form h3 {
	font-weight: bold;
	border-left: 4px solid #888888;
	padding-left: 5px;
	font-size: 1.5rem;
}
.woocommerce-EditAccountForm {}
.woocommerce-EditAccountForm .woocommerce-form-row {
	width: 100%!important;
	float: left;
}
.woocommerce-EditAccountForm .woocommerce-form-row label {
	float: left;
	width: 100%;
	min-width: 100%;
}
.woocommerce-EditAccountForm .woocommerce-form-row input {
	float: left;
	width: 100%;
	min-width: 100%;
}
.woocommerce-EditAccountForm fieldset {
	float: left;
	width: 100%;
    margin-top: 25px;
}
.woocommerce-EditAccountForm fieldset legend {
	font-weight: bold;
	border-left: 4px solid #888888;
	padding-left: 5px;
	font-size: 1.5rem;	
}
/* Sidebar Module */
.sidebar-container {}
.sidebar-container .sidebar-wrapper {}

.sidebar-container .sidebar-wrapper .sidebar-element {
	width: 100%;
	float: left;
	padding: 0;
	margin-bottom: 10px;
	list-style-type: none;
}
.woocommerce-EditAccountForm {}

.sidebar-container .sidebar-wrapper .sidebar-element li {}
.sidebar-container .sidebar-wrapper .sidebar-element li ul {
    list-style-type: none;
    padding: 0px 0px 0px 10px;
}
.sidebar-container .sidebar-wrapper .sidebar-element li ul li {
	float: left;
    width: 100%;
}
.sidebar-container .sidebar-wrapper .sidebar-element li ul li a {
	color: #000000;
}
.sidebar-container .sidebar-wrapper .sidebar-element h2 {
	font-weight: bold;
	border-left: 4px solid #888888;
	padding-left: 5px;
	font-size: 1.5rem;
}
.sidebar-container .sidebar-wrapper .sidebar-element.form-module {}
.sidebar-container .sidebar-wrapper .sidebar-element.form-module form {}
.sidebar-container .sidebar-wrapper .sidebar-element.form-module form input[type=text] {
    width: 100%;
}
.sidebar-container .sidebar-wrapper .sidebar-element.form-module form input[type=submit] {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
	padding: 5px 15px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	width: 100%;
	margin-top: 5px;
}

.sidebar-container .sidebar-wrapper .sidebar-element.dashboard-module {}
.sidebar-container .sidebar-wrapper .sidebar-element.dashboard-module .pagenav {}
.sidebar-container .sidebar-wrapper .sidebar-element.categories-module {}
.sidebar-container .sidebar-wrapper .sidebar-element.shortcuts-module {}

/* Banner Module */
.banner-container {
	
}
.banner-container img {
	width: 100%;
	height: auto;
}

/* Hero Note Container*/
.hero-main-note-container {
	color: #ffffff;
    padding-top: 3%;
}

.hero-singular-note-container {
    margin-top: -3vh;
}
.hero-slide-category {
	border-bottom: 3px solid #888888;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #888888;
}
.hero-slide-title {
	text-transform: uppercase;
}

.hero-sidenotes-container {
	text-transform: uppercase;
	text-align: right;
	list-style: none;
	border-right: 1px solid;
	padding-right: 0px;
}
.hero-note-sidenote-singular {
    padding-right: 20px;
    padding-bottom: 30px;
}
/*.hero-note-sidenote-singular::after {
		content: ".";
		position: relative;
		right: -27px;
		font-size: 60px;
		top: -100px;
		display: table;
		float: right;
}*/
.hero-note-sidenote-singular h3 {
		font-size: 1.15rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1.05rem;
}
/* Carousel System */
.hero-image-container {
    height: 75vh;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    z-index: 0;
    margin-top: -5%;
}
.carousel {
	background:#444;
}
.carousel-item .img-fluid {
	width:100%;
	height:auto;
}
.carousel-item a {
	display: block;
	width:100%;
}
.hero-slide-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 90vh;
}
.hero-slide-container.for-simplex {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 30vh;
}
.hero-main-note-container {
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
/*.carousel-indicators {
    position: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 15;
    display: inherit;
    display: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    padding-left: inherit;
    margin-right: inherit;
    margin-left: inherit;
    list-style: inherit;
}
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: pointer;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
}*/
/*.carousel-indicators.hero-sidenotes-container {
    width: 20%;
    list-style-type: none;
    position: absolute;
    z-index: 3;
    color: #fff;
    right: 0!important;
    top: 20%;
    border-right: 1px solid #fff;
    margin-right: 20%;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular {
	padding: 0 21.5px 0px 0px;
	margin: 0px 0px 15px 0px;
	float: right;
	width: 100%;
	height: 115px;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular.active {

}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular::after {
    opacity: 0.65;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular.active::after {
    opacity: 1;
}
*/
.carousel-item a {
	display: inherit; 
	width: auto;
}
.main-message-hero {
	margin-top: 14%;
}

/* Mods */
.main-header-wrapper {
    padding: 5px 15px 15px 15px;
    position: relative;
    z-index: 1;
}
.first-cta-home {

}
.main-body-container.home-wrapper {
	margin-top: 2%;
}

/* User Toolbox Navbar */
.top-navbar-border-black {

}
/*.user-navbar-wrapper {
    background-color: #888888;
    padding: 10px 0px;
    height: 70px;
    margin-bottom: 20px;
}*/
.user-navbar-toolbox {
	list-style-type: none;
    padding: 0;
    float: right;
}

.user-navbar-toolbox li {
    float: left;
    padding: 0px 6px;
    border-right: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
}

.user-navbar-toolbox li:last-child {
    border-right: none;
    padding-right: 0;
}
.user-navbar-toolbox li a {
	color: #ffffff;
}
.logo-desktop-wrapper {

}

/* Login and Registration Form */
.note-display-wrapper .module-content .woocommerce-form button {
	background-color: #000;
	color: #ffffff;
	font-style: italic;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
}
.note-display-wrapper .module-content .woocommerce-form .form-row {
	float: left;
	width: 100%;
	padding: 0px 5px;
}
.note-display-wrapper .module-content .woocommerce-form .form-row .required {
	color: red;
}
.note-display-wrapper .module-content .woocommerce-form .form-row label {
	width: 100%;
}
.note-display-wrapper .module-content .woocommerce-form .form-row input {
	width: 100%;
}
.note-display-wrapper .module-content .woocommerce-form .lost_password {
	float: left;
    width: 100%;
}
.note-display-wrapper .module-content .woocommerce-form .form-row.remember {}
.note-display-wrapper .module-content .woocommerce-form .form-row.remember #rememberme {
	float: left;
	width: auto;
	margin-right: 10px;
	margin-top: 5px;
}

.lost_password {}
.lost_password a {
	color: #888888;
}
.not_registered {}
.not_registered a {
	color: #888888;
}

.woocommerce-privacy-policy-text {}
.woocommerce-privacy-policy-text a {
	color: #888888;
}
.already_account_register {}
.already_account_register a {
	color: #888888;
}


/* General Fixes */
.stats-box-wrapper {

}
.woocommerce-form.woocommerce-form-login.login {
	float: left;
	width: 100%;
}
.woocommerce-form__input.woocommerce-form__input-checkbox#rememberme {
	float: left;
	width: auto;
	margin-top: 8px;
	margin-right: 7px;
}
.note-display-wrapper .module-content .woocommerce-form .form-row label span {
	float: left;
}
/* Mobile Fixes */
/*@media only screen and (min-width: 600px) and (min-width: 400px)  {

}*/
/* Mobile Assets */
.regular-header-wrapper {

}
.mobile-header-wrapper {

}

.mobile-header-wrapper .navbar-brand {
	margin: 0 auto;
	width: 150px;
	display: table;
}
.mobile-header-wrapper .navbar-light .navbar-toggler {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0.75rem 0.75rem;

}
.mobile-header-wrapper .navbar-nav .nav-item {
    text-align: center;
}
.mobile-header-wrapper .navbar-nav .dropdown-menu {
    text-align: center;
}
.mobile-header-wrapper .navbar-light .navbar-toggler {
	background-color: #ffffff;
	border-radius: 0;
	margin-bottom: -1px;
}
.internal-wrapper {

}
.mobile-header-wrapper .w_logo {
	display: none;
}

.mobile-header-wrapper .navbar-collapse {
	background-color: rgb(255, 255, 255);
    padding: 22px 0px;
}

.banner-common {

}
.mobile_banner {
	display: none;
}


/* 320 Media */
@media only screen and (max-width: 374px) and (min-width: 320px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 45vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.note-display-image-wrapper .readmore-button {
		display: none;
	}
	.hero-slide-category {
	    font-size: 1.2rem;
	    text-align: center;
	}
	.hero-slide-title {
	    font-size: 1.5rem;
	}
	.carousel-item a {
	    width: 100%;
	    text-align: center;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
	.container.footer-copy-container .legal-txt {
	    line-height: 25px;
	}
	.mobile-header-wrapper .navbar-brand {
	    width: 100px;
	}
	.note-display-title-wrapper .note-display-title {
	    font-size: 1.25rem;
	}


	.internal-wrapper-header .mobile-header-wrapper a img {
		width: 145px;
		margin: 0 auto;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: table!important;
	}
	.hero-slide-container.for-simplex {
	    height: 5vh;
	}

	.internal-wrapper-header .background-container {
	    height: 70%;
	}
	.internal-wrapper-header .background-container img {
	    height: 100%;
	    width: auto;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element h2 {
		text-align: center;
		border-left: 4px solid #888888;
		border-right: 4px solid #888888;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element li ul li {
	    font-size: 1.2rem;
	    text-align: center;
	    padding: 5px 0px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper {
	    margin-top: 10%;
	}
	.product-stats-wrapper .cart .quantity .input-text {
	    height: 68px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li {
	    padding: 10px 10px;
	    margin-right: 0;
	    width: 50%;
	    height: 50px;
	    text-align: center;
	}
	.woocommerce-MyAccount-navigation ul li {
	    padding: 10px 10px;
	    width: 100%;
	    height: 45px;
	    text-align: center;
	    border-bottom: 1px solid #fff;
	}

	.user-navbar-toolbox li {
	    width: 100%;
	    border: none;
	    margin-bottom: 10px;
	}
	.user-navbar-wrapper {
	    height: 90px;
	}
	.banner-common {
		display: none;
	}
	.mobile_banner {
		display: inherit;
	}
}

/* 375 Media */
@media only screen and (max-width: 424px) and (min-width: 375px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 45vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.note-display-image-wrapper .readmore-button {
		display: none;
	}
	.hero-slide-category {
	    font-size: 1.2rem;
	    text-align: center;
	}
	.hero-slide-title {
	    font-size: 1.5rem;
	}
	.carousel-item a {
	    width: 100%;
	    text-align: center;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
	.container.footer-copy-container .legal-txt {
	    line-height: 25px;
	}
	.mobile-header-wrapper .navbar-brand {
	    width: 130px;
	}


	.internal-wrapper-header .mobile-header-wrapper a img {
		width: 145px;
		margin: 0 auto;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: table!important;
	}
	.hero-slide-container.for-simplex {
	    height: 5vh;
	}

	.internal-wrapper-header .background-container {
	    height: 70%;
	}
	.internal-wrapper-header .background-container img {
	    height: 100%;
	    width: auto;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element h2 {
		text-align: center;
		border-left: 4px solid #888888;
		border-right: 4px solid #888888;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element li ul li {
	    font-size: 1.2rem;
	    text-align: center;
	    padding: 5px 0px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper {
	    margin-top: 10%;
	}
	.product-stats-wrapper .cart .quantity .input-text {
	    height: 68px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li {
	    padding: 10px 10px;
	    margin-right: 0;
	    width: 50%;
	    height: 50px;
	    text-align: center;
	}
	.woocommerce-MyAccount-navigation ul li {
	    padding: 10px 10px;
	    width: 100%;
	    height: 45px;
	    text-align: center;
	    border-bottom: 1px solid #fff;
	}
	.banner-common {
		display: none;
	}
	.mobile_banner {
		display: inherit;
	}
}

/* 425 Media */
@media only screen and (max-width: 767px) and (min-width: 425px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 62vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
	.product-listing-item {
	    width: inherit;
	}
	.internal-wrapper-header .mobile-header-wrapper a img {
		width: 145px;
		margin: 0 auto;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: table!important;
	}
	.hero-slide-container.for-simplex {
	    height: 5vh;
	}

	.internal-wrapper-header .background-container {
	    height: 70%;
	}
	.internal-wrapper-header .background-container img {
	    height: 100%;
	    width: auto;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element h2 {
		text-align: center;
		border-left: 4px solid #888888;
		border-right: 4px solid #888888;
	}
	.sidebar-container .sidebar-wrapper .sidebar-element li ul li {
	    font-size: 1.2rem;
	    text-align: center;
	    padding: 5px 0px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper {
	    margin-top: 10%;
	}
	.product-stats-wrapper .cart .quantity .input-text {
	    height: 68px;
	}
	.product-tabs-wrapper .wc-tabs-wrapper .tabs.wc-tabs li {
	    padding: 10px 10px;
	    margin-right: 0;
	    width: 50%;
	    height: 50px;
	    text-align: center;
	}
	.woocommerce-MyAccount-navigation ul li {
	    padding: 10px 10px;
	    width: 100%;
	    height: 45px;
	    text-align: center;
	    border-bottom: 1px solid #fff;
	}
	.banner-common {
		display: none;
	}
	.mobile_banner {
		display: inherit;
	}
}

/* 768 Media */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}

	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	h1, .h1 {
	    font-size: 2.2rem;
	}
	.main-title-fixture {
	    font-size: 1.2rem;
	}
	.main-body-fixture tr {
	    font-size: 1.2rem;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 60vh;
	}
	.internal-wrapper {
	    margin-top: -15%;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.main-body-container {
	    background-color: #ffffff;
	    margin-top: -15%;
	}
	.product-listing-item {
	    width: inherit;
	}

	.banner-common {
		display: none;
	}
	.mobile_banner {
		display: inherit;
	}
}
/* 1024 Media */
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.hero-image-container {
	    margin-top: -10%!important;
        height: 55vh;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.main-body-container {
		margin-top: 5%;
	}
	.header-container {
	    margin-top: 2%;
	}
	.md-single-note-render-wrapper {
		display: inherit;
	}
	.vertical-ads-wrapper {
		display: inherit;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		font-size: 0.88rem;
	}
	.header-container navbar.navbar-expand-lg {
		padding: 0.4rem 0.1rem;
	}
	h1, .h1 {
	    font-size: 2.2rem;
	}
	.stats-box-wrapper {
		display: inherit;
	}
	.regular-header-wrapper {
	    display: inherit;
	}
	.mobile-header-wrapper {
		display: none;
	}
	.logo-desktop-wrapper {
	    width: 150px;
	}
	.regular-header-wrapper .navbar-expand-lg {
		margin-left: 50px;
	}
}
/* 1440 Media */
@media only screen and (min-width: 1440px) {
	.mobile-header-wrapper {
		display: none;
	}
	.hero-image-container {
	    margin-top: -17vh!important;
	    height: 80vh;
	}
	.carousel-indicators.hero-sidenotes-container {
	    right: 20%;
	}
	.main-body-container {
		margin-top: 5%;
	}

}

.prod-image-wrapper {
	width: 100%;
}

/* Fixes */
.woocommerce-product-attributes-item td p {
	margin-bottom: 0;
}

/* General Fixes AND Addons */
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: inherit;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
}
.carousel-indicators.hero-sidenotes-container {
	list-style-type: none;
	color: #fff;
	position: inherit;
	padding: 0;
	margin: 0 auto;
	border-top: 2px solid #ffffff;
	padding-top: 10px;
	border-left: inherit;
	border-right: inherit;
	margin-top: -30vh;
}
.hero-note-sidenote-singular {
    float: left;
    width: auto!important;
    margin-right: 5px!important;
    height: auto!important;
    border-top: none!important;
    padding: 0 20px;
    text-align: left;
    opacity: 0.4!important;
}
.hero-note-sidenote-singular.active {
	opacity: 1!important;
	transition: opacity 1s;
}
.hero-note-sidenote-singular::before {
    content: ".";
    font-size: 0;
    float: left;
    margin-top: -15px;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #ffffff;
}
.hero-note-sidenote-singular h3 {
    font-size: 1rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
}
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: inherit;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
    padding-left: 5px;
}


/* Media Queries Slide Fixes*/
@media only screen and (min-width: 1440px) {
	.hero-image-container {
	    margin-top: -14vh!important;
	    height: 80vh;
	}
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.hero-image-container {
	    margin-top: -18%!important;
	    height: 70vh;
	}
	.hero-singular-note-container {
	    margin-top: 8vh;
	}
	.main-message-hero {
	    margin-top: 14%;
	    padding: 0 10%;
	}
	.hero-main-note-container {
	    background-size: auto 100%;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.main-message-hero {
	    margin-top: 14%;
	    padding: 0 10%;
	}
	.hero-main-note-container {
	    background-size: auto 100%;
	}
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
	.main-message-hero {
        margin-top: 20vh;
	    padding: 0 10%;
	}
	.hero-main-note-container {
	    background-size: auto 100%;
	}
}

/* General Fixes - Navbar */
.user-navbar-wrapper {
    background-color: #888888;
    padding: 10px 0px;
    height: 50px;
    z-index: 2;
    position: relative;
}
@media only screen and (min-width: 1440px) {
	.hero-image-container {
	    height: 80vh;
	    top: 0vh;
	}
}
/* General Fixes - Navbar END */

.woocommerce-shipping-fields__field-wrapper {
	float: left;
    width: 100%;
}
.woocommerce-shipping-fields__field-wrapper .form-row {
	float: left!important;
	width: 100%!important;
}
.woocommerce-shipping-fields__field-wrapper .form-row label {
	float: left;
	width: 100%;
}
.woocommerce-shipping-fields__field-wrapper .form-row .woocommerce-input-wrapper {
	float: left;
	width: 100%;
}
.woocommerce-shipping-fields__field-wrapper .form-row .woocommerce-input-wrapper input, .woocommerce-shipping-fields__field-wrapper .form-row .woocommerce-input-wrapper input.input-text  {
	float: left;
	width: 100%!important;
}

.payment_alert {
	background-color: #ebe9eb;
	border-radius: 10px;
	padding: 25px;
	color: #000;
	margin-top: 40px;
}

.payment_alert p {
    margin-bottom: 0;
}
.payment_alert b {
    color: #fd3737;
}